page-perjalanan {
	#map {
		height: 100%;
		width: 100%;
		margin: 0;
	}
	.searchbar-md .searchbar-input{
		background-color: transparent;
		box-shadow:none;
	}
	.item-md{
		padding:0;
		background-color: transparent;
	}
	ion-icon{
		img{
			width: 20px;
		}
	}
}
