page-splash {
  background: #085394;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(#085394, #0c7ad9);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#085394), to(#0c7ad9));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(#085394,  #0c7ad9);

  background-image: linear-gradient(#085394,  #0c7ad9);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient(#085394, #0c7ad9);
}
